*{
	 font-family: 'Goudy Bookletter 1911', serif;

}

p {
     font-size: 20px;
}



html {
  scroll-behavior: smooth;

}

.DarkBG {
background-color: black;
background-image: url("");
}

.DarBlueBG {
	background-color: darkblue;
}

.btn-link {
	color: white !important;
}

.nostyle {
	list-style: none;
}

 .main-content {
      height: 100vh;
}

 .cutimage{
 	max-height: 100vh;

 }

 .italic {
 	font-style: italic !important;
 }

 .gradient{
     background-image: linear-gradient(to right top, #140c5d, #0f1a5c, #132458, #1d2c53, #28334c, #303c57, #374562, #3f4f6d, #435e8f, #496cb3, #517ad7, #5f87fb);
     }

.contact {
     text-align: center;
     color: white;
     padding-top: 25px;
}

.map-responsive{
    padding-bottom:5%;
   overflow: hidden;
   
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 2px;
}

.bordercss{

     border-width: 5px;
     border: solid;
}

.footerlink {
     a:link 
  color: white;
}



.crop {
    width: 60px;
    height: 40px;
    overflow: hidden;
}


#myBtn {
  position: fixed; 
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


 @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  and (orientation: portrait) 
  { .textsm
          {
    
          }
  }

  .imgsize {
     height: 100px;
     width: 100px;
  }

